
html {
  background-color: #4F345A;
  color: white;
}
audio {
  width: 300px;
  height: 50px;
  background-color: gray;
}
.container {
  margin-top: 10rem;
}
.title {
  text-align: center;
  margin: auto;
  font-size: 4rem;
}
h2 {
  text-align: center;
  margin: auto;
  padding-bottom: 1rem;
}
#display {
  background-color: #5D4E6D;
  text-align: center;
  margin: auto;
  max-width: 60rem;
  font-size: 2rem;
}
.drum-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.drum-pad {
  display: flex;
  height: 5rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
}

.power {
  margin-block: 1rem;
  text-align: center;
  margin-inline: 2rem;
}

button {
  padding: 0.5rem 1rem;
  margin: 1rem;
  background-color: #C9F299;
  color: black;
  font-weight: bold;
}

.drum-display {
  text-align: center;
  grid-column: 2 / 3;
  padding: 0.5rem 2rem;
  background-color: #C9F299;
  margin-block: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: black;
}